<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.senai.jogo_velha">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Jogo da velha"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Jogovelha">
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar"
             >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Resultado"
            android:exported="false"
            android:parentActivityName=".ModoDeJogo" />
        <activity
            android:name=".jogoDificil"
            android:exported="false"
            android:parentActivityName=".Dificuldades" />
        <activity
            android:name=".jogoMedio"
            android:exported="false"
            android:parentActivityName=".Dificuldades" />
        <activity
            android:name=".Dificuldades"
            android:exported="false"
            android:parentActivityName=".ModoDeJogo" />
        <activity
            android:name=".jogoFacil"
            android:exported="false"
            android:parentActivityName=".Dificuldades" />
        <activity
            android:name=".jogoPlayer"
            android:exported="false"
            android:parentActivityName=".ModoDeJogo" />
        <activity
            android:name=".ModoDeJogo"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>